.image_for_edit {
  display: block;
  padding: 10px 0px;
  margin: 15px 0px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.image{
  display: block;
  width: 25%;
  margin: 0px auto;
}

.end{
  padding-bottom: 40px;
}

.import-img {
  padding-bottom: 2.25rem;
}